<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NLB Limited | Entreprise Digitale Innovante</title>
    <meta name="keywords" content="Entreprise Digitale Innovante, NLB, NLB Limited, développement logiciels, imprimerie, communication, infographie">
    <meta name="description" content="Entreprise Digitale Innovante">
    <meta name="viewport" content="width=device-width">

    <!-- Title -->
    <title>NLB Limited</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/bootstrap.min.css')}}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ asset('vendor/icon-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('vendor/icon-line/css/simple-line-icons.css')}}">
    <link rel="stylesheet" href="{{ asset('vendor/icon-hs/style.css')}}">
    <link rel="stylesheet" href="{{ asset('vendor/hamburgers/hamburgers.min.css')}}">
    <link rel="stylesheet" href="{{ asset('vendor/animate.css')}}">
    <link rel="stylesheet" href="{{ asset('vendor/slick-carousel/slick/slick.css')}}">

    <!-- CSS Template -->
    <link rel="stylesheet" href="{{ asset('css/styles.op-architecture.css')}}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ asset('css/custom.css')}}">
</head>

<body>
<main>
    <!-- Header v1 -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
            data-header-fix-moment="100">
        <div class="dark-theme u-header__section g-bg-black-opacity-0_4 g-transition-0_3 g-py-8 g-py-17--md"
             data-header-fix-moment-exclude="dark-theme g-bg-black-opacity-0_4 g-py-17--md"
             data-header-fix-moment-classes="light-theme u-theme-shadow-v1 g-bg-white g-py-10--md">
            <nav class="navbar navbar-expand-lg p-0 g-px-15">
                <div class="container g-pos-rel">
                    <a href="{{path('app_site')}}" class="g-hidden-lg-up navbar-brand mr-0">
                        <img class="d-block g-width-140 g-width-160--md" src="{{ asset('img/logo-nlb.png')}}" alt="Image Description"
                             data-header-fix-moment-exclude="d-block"
                             data-header-fix-moment-classes="d-none">

                        <img class="d-none g-width-140 g-width-160--md" src="{{ asset('img/logo-nlb.png')}}" alt="Image Description"
                             data-header-fix-moment-exclude="d-none"
                             data-header-fix-moment-classes="d-block">
                    </a>

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar" data-mobile-scroll-hide="true">
                        <ul class="js-scroll-nav navbar-nav align-items-lg-center text-uppercase g-font-weight-700 g-letter-spacing-1 g-font-size-12 g-pt-20 g-pt-0--lg mx-auto"
                            data-splitted-breakpoint="992">
                            <li class="nav-item g-mr-30--lg g-mb-7 g-mb-0--lg active">
                                <a href="{{path('app_site')}}#home" class="nav-link p-0">Accueil <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
                                <a href="{{path('app_site')}}#services" class="nav-link p-0">À propos</a>
                            </li>

                            <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
                                <a href="{{path('app_site')}}#about" class="nav-link p-0">Services</a>
                            </li>

                            <!-- Logo -->
                            <li class="g-hidden-lg-down nav-logo-item g-mx-15--lg">
                                <a href="{{path('app_site')}}" class="js-go-to navbar-brand mr-0"
                                   data-type="static">
                                    <img class="d-block g-width-140 g-width-160--md" src="{{ asset('img/logo-nlb.png')}}" alt="Image Description"
                                         data-header-fix-moment-exclude="d-block"
                                         data-header-fix-moment-classes="d-none">

                                    <img class="d-none g-width-140 g-width-160--md" src="{{ asset('img/logo-nlb.png')}}" alt="Image Description"
                                         data-header-fix-moment-exclude="d-none"
                                         data-header-fix-moment-classes="d-block">
                                </a>
                            </li>
                            <!-- End Logo -->

                            <li class="nav-item g-mx-30--lg g-mb-7 g-mb-0--lg">
                                <a href="{{path('app_site')}}#technologies" class="nav-link p-0">Projets</a>
                            </li>

                            <li class="nav-item g-ml-30--lg">
                                <a href="{{path('app_site')}}#contact" class="nav-link p-0">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->

                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header v1 -->

    <!-- Section Content -->
    <section id="home" class="u-bg-overlay g-pos-rel g-theme-bg-blue-dark-v1-opacity-0_8--after">
        <div class="js-carousel"
             data-autoplay="true"
             data-infinite="true"
             data-fade="true"
             data-speed="5000">
            <div class="js-slide g-bg-img-hero g-height-100vh" style="background-image: url(img-temp/AdobeStock_305758760.jpeg);"></div>

            <div class="js-slide g-bg-img-hero g-height-100vh" style="background-image: url(img-temp/AdobeStock_234092554.jpeg);"></div>

            <div class="js-slide g-bg-img-hero g-height-100vh" style="background-image: url(img-temp/AdobeStock_124367353.jpeg);"></div>
            <div class="js-slide g-bg-img-hero g-height-100vh" style="background-image: url(img-temp/AdobeStock_195937657.jpeg);"></div>
        </div>

        <div class="u-bg-overlay__inner g-absolute-centered w-100">
            <div class="container text-center g-max-width-750">
                <div class="text-uppercase u-heading-v2-4--bottom u-promo-title g-brd-primary">
                    <h3 class="h3 g-letter-spacing-7 g-font-size-12 g-font-weight-400 g-color-white g-mb-25">Entreprise digitale innovante</h3>
                    <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-3 g-font-size-75 g-color-white mb-0">NLB Limited</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Content -->



    <!-- Timeline -->
    <section id="services" class="g-theme-bg-blue-dark-v1 g-py-100">
        <div class="container text-center g-max-width-750 g-mb-70">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
                <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">Qui sommes nous ?</h3>
                <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md g-color-white mb-0">Notre équipe d'experts à votre service</h2>
            </div>

            <p class="g-color-white-opacity-0_5 mb-0">Fondée en 2014, NLB Limited s'est spécialisée dans plusieurs domaines au fil des années, grâce à ses talents, notamment dans la conception graphique, le développement logiciel, la communication événementielle et l'infographie/imprimerie. </p>
        </div>

        <div class="container">
            <!-- Carousel -->
            <div class="js-carousel"
                 data-infinite="true"
                 data-arrows-classes="u-arrow-v1 g-pos-abs g-top-35x g-width-45 g-height-45 g-color-white g-theme-bg-blue-dark-v2 g-bg-primary--hover g-rounded-50x g-transition-0_2 g-transition--ease-in"
                 data-arrow-left-classes="fa fa-chevron-left g-left-0"
                 data-arrow-right-classes="fa fa-chevron-right g-right-0">

                <div class="js-slide">
                    <div class="container text-center g-max-width-600 g-mb-30">
                        <img class="img-fluid d-inline-block" src="{{ asset('img-temp/AdobeStock_234092554.jpeg')}}" alt="Image description">
                    </div>

                </div>

                <div class="js-slide">

                    <div class="container text-center g-max-width-600 g-mb-30">
                        <img class="img-fluid d-inline-block" src="{{ asset('img-temp/AdobeStock_124367353.jpeg')}}" alt="Image description">
                    </div>
                </div>

                <div class="js-slide">
                    <div class="container text-center g-max-width-600 g-mb-30">
                        <img class="img-fluid d-inline-block" src="{{ asset('img-temp/AdobeStock_307688949.jpeg')}}" alt="Image description">
                    </div>

                </div>
                <div class="js-slide">
                    <div class="container text-center g-max-width-600 g-mb-30">
                        <img class="img-fluid d-inline-block" src="{{ asset('img-temp/AdobeStock_305692579.jpeg')}}" alt="Image description">
                    </div>

                </div>


            </div>
            <!-- End Carousel -->
        </div>
    </section>
    <!-- End Timeline -->

    <!-- Section Content -->
    <section id="about" class="g-pt-100 g-pb-100--md">
        <div class="container text-center g-max-width-750 g-mb-70">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
                <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">Offre</h3>
                <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md mb-0">Notre expertise</h2>
            </div>
        </div>

        <div class="container px-0">
            <!-- Row -->
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-3">
                    <div class="g-bg-img-hero" style="background-image: url(assets/img-temp/1024x683/img1.jpg);">
                        <div class="g-theme-bg-blue-dark-v3 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in">
                  <span class="d-block g-line-height-1 g-font-size-30 g-color-primary g-mb-20">
                    <i class="icon-picture"></i>
                  </span>
                            <h3 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-color-white g-mb-25">Conception <br> Graphique</h3>
                            <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30">Nous vous aidons à concevoir, dans le cadre d'une communication visuelle, des supports de communication à destination d'un affichage sur écran ou pour une impression. </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="g-bg-img-hero" style="background-image: url(assets/img-temp/1024x683/img2.jpg);">
                        <div class="g-theme-bg-blue-dark-v4 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in">
                  <span class="d-block g-line-height-1 g-font-size-30 g-color-primary g-mb-20">
                    <i class="icon-loop"></i>
                  </span>
                            <h3 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-color-white g-mb-25">Développement <br> Logiciel</h3>
                            <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30">Nos ingénieurs en informatique, spécialisés sur le framework Symfony, sont à votre disposition pour vous aider à concevoir, déployer, monitorer et maintenir vos applications.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="g-bg-img-hero" style="background-image: url(assets/img-temp/1024x683/img3.jpg);">
                        <div class="g-theme-bg-blue-dark-v3 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in">
                  <span class="d-block g-line-height-1 g-font-size-30 g-color-primary g-mb-20">
                    <i class="icon-note"></i>
                  </span>
                            <h3 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-color-white g-mb-25"> Communication <br> Événementiel</h3>
                            <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30">Nous vous aidons à promouvoir votre marque, votre produit, ou vos services, afin d'informer, fidéliser, et attirer vos clients et motivier vos collaborateurs. Nous organisons et planifions vos événements.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="g-bg-img-hero" style="background-image: url(assets/img-temp/1024x683/img4.jpg);">
                        <div class="g-theme-bg-blue-dark-v4 g-opacity-1 g-opacity-0_8--hover g-py-50 g-px-15 g-pa-100-30--sm g-transition-0_2 g-transition--ease-in">
                  <span class="d-block g-line-height-1 g-font-size-30 g-color-primary g-mb-20">
                    <i class="icon-map"></i>
                  </span>
                            <h3 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-color-white g-mb-25">Imprimerie <br> Papeterie </h3>
                            <p class="g-font-size-13 g-color-white-opacity-0_7 g-mb-30">Nous sommes en mesure de produire en grande quantité avec une qualité optimale, toutes vos réalisations sur n'importe quel support. Nos experts vous aideront à créer vos visuels numériques.</p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- End Section Content -->


    <!-- Section Content -->
    <section id="technologies" class="g-theme-bg-blue-dark-v1 g-py-100">
        <div class="container text-center g-max-width-750 g-mb-50">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
                <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">Réalisations</h3>
                <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md g-color-white mb-0">Ils nous font confiance</h2>
            </div>

            <p class="g-color-white-opacity-0_5 mb-0">Votre satisfaction est notre priorité. Nous vous accompagnons dans vos projets dans toutes les étapes. Nos experts sont à votre disposition pour vous conseiller sur les solutions adaptées à vos besoins. </p>
        </div>

        <div class="container-fluid px-0">
            <div class="js-carousel g-pb-10"
                 data-slides-show="3"
                 data-slides-scroll="3"
                 data-infinite="true"
                 data-pagi-classes="u-carousel-indicators-v1 u-carousel-indicators-dark g-absolute-centered--x g-bottom-0 text-center"
                 data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 3,
                   "slidesToScroll": 3
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 2,
                   "slidesToScroll": 2
                 }
               }, {
                 "breakpoint": 576,
                 "settings": {
                   "slidesToShow": 1,
                   "slidesToScroll": 1
                 }
               }]'>
                <div class="js-slide ">
                    <img class="img-fluid" style="margin-left:30px" src="{{ asset('img-temp/nw9VhA5n_400x400.jpg') }}"  width="200" height="200" alt="Image description">

                    <div class="g-pa-40">
                        <h4 class="h6 text-uppercase g-font-weight-700 g-color-white g-mb-15">Access BANK </h4>
                        <p class="g-font-size-default g-color-white-opacity-0_5 mb-0">Access Bank en RDC, client historique, nous fait confiance pour sa communication événementielle.</p>
                    </div>
                </div>

                <div class="js-slide">
                    <img class="img-fluid" style="margin-left:30px" src="{{ asset('img-temp/BEL-CAMPUS.png') }}"  width="200" height="200" alt="Image description">

                    <div class="g-pa-40">
                        <h4 class="h6 text-uppercase g-font-weight-700 g-color-white g-mb-15">Université Technologique Bel-Campus</h4>
                        <p class="g-font-size-default g-color-white-opacity-0_5 mb-0">L'Université prestigieuse Bel-Campus nous fait confiance pour notre savoir-faire en développement logiciels, notamment pour leur application de gestion des étudiants.</p>
                    </div>
                </div>
                <div class="js-slide">
                    <img class="img-fluid" style="margin-left:30px; background-color: white" src="{{ asset('img-temp/logo-dkwave.png') }}"  width="300" height="500" alt="Image description">

                    <div class=" g-pa-40">
                        <h4 class="h6 text-uppercase g-font-weight-700 g-color-white g-mb-15">DK Wave Technology</h4>
                        <p class="g-font-size-default g-color-white-opacity-0_5 mb-0">DK Wave Technology basée en France, nous fait confiance pour sa communication événementielle et les développements logiciels sur leur plateforme innovante Smart Attendance.</p>
                    </div>
                </div>

                <div class="js-slide">
                    <img class="img-fluid" style="margin-left:30px; background-color: white" src="{{ asset('img-temp/raw-bank.png') }}"  width="300" height="500" alt="Image description">

                    <div class=" g-pa-40">
                        <h4 class="h6 text-uppercase g-font-weight-700 g-color-white g-mb-15">Raw Bank</h4>
                        <p class="g-font-size-default g-color-white-opacity-0_5 mb-0">Raw Bank nous fait confiance pour notre savoir-faire en infographie et imprimerie.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Section Content -->

    <!-- Footer -->
    <footer>
        <div id="contact" class="g-py-80">
            <div class="container">
                <div class="container text-center g-max-width-750 g-mb-70">
                    <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
                        <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-primary g-mb-25">Contact</h3>
                        <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md mb-0">Restons en contact</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 ">
                        <address class="row text-center">
                            <iframe class="js-g-map w-100" src="https://maps.google.com/maps?q=kinshasa%20gombe%20avenue%20des%20arts&t=&z=17&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0"></iframe>

                        </address>
                    </div>

                    <div class="col-md-3">
                        <address class="row text-center">
                            <div class="col-sm-4 col-md-12 g-mb-30">
                                <i class="icon-directions icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
                                <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400 g-mb-5">Adresse</h3>
                                <strong class="g-font-size-14 g-color-black">4930, Avenue Mont des arts Commune de la Gombe, Kinshsa, RDC</strong>
                            </div>

                            <div class="col-sm-4 col-md-12 g-mb-30">
                                <i class="icon-call-in icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
                                <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400g-mb-5">Numéro de téléphone</h3>
                                <strong class="g-font-size-14 g-color-black">+ 243 998 149 635</strong>
                                <strong class="g-font-size-14 g-color-black">+ 243 811 708 849</strong>
                            </div>

                            <div class="col-sm-4 col-md-12">
                                <i class="icon-envelope-open icon d-inline-block g-font-size-20 g-color-primary g-mb-7"></i>
                                <h3 class="text-uppercase g-font-size-12 g-color-gray-dark-v5 g-font-weight-400 g-mb-5">Email</h3>
                                <a class="g-color-black g-color-black--hover" href="mailto:contact@nlblimited.com"><strong class="g-font-size-14">contact@nlblimited.com</strong></a>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
        </div>



        <div class="text-center g-color-gray-dark-v5 g-theme-bg-blue-dark-v1 g-py-70">
            <a class="d-block g-width-140 mx-auto g-mb-30" href="{{path('app_site')}}">
                <img class="img-fluid" src="{{ asset('img/logo-nlb.png') }}" alt="Image description">
            </a>

            <ul class="list-inline d-inline-block mb-0">
                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-gray-dark-v5 g-color-white--hover g-theme-bg-blue-dark-v2 g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#"><i class="fa fa-twitter"></i></a>
                </li>

                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-gray-dark-v5 g-color-white--hover g-theme-bg-blue-dark-v2 g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#"><i class="fa fa-facebook"></i></a>
                </li>

                <li class="list-inline-item">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-gray-dark-v5 g-color-white--hover g-theme-bg-blue-dark-v2 g-bg-primary--hover g-transition-0_2 g-transition--ease-in" href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>

            <p style="margin-top:20px; font-size: 12px">@ Copyright. All Rights Reserved. NLB Limited. <a href="{{path('app_mentions')}}">Mentions légales</a></p>
        </div>
    </footer>
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v1" href="#"
       data-type="fixed"
       data-position='{
           "bottom": 15,
           "right": 15
         }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<!-- JS Global Compulsory -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('vendor/popper.js/popper.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/bootstrap.min.js') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ asset('vendor/appear.js') }}"></script>
<script src="{{ asset('vendor/slick-carousel/slick/slick.js') }}"></script>
<script src="{{ asset('vendor/gmaps/gmaps.min.js') }}"></script>

<!-- JS Unify -->
<script src="{{ asset('js/hs.core.js') }}"></script>
<script src="{{ asset('js/components/hs.header.js') }}"></script>
<script src="{{ asset('js/helpers/hs.hamburgers.js') }}"></script>
<script src="{{ asset('js/components/hs.scroll-nav.js') }}"></script>
<script src="{{ asset('js/components/hs.tabs.js') }}"></script>
<script src="{{ asset('js/components/hs.carousel.js') }}"></script>
<script src="{{ asset('js/components/gmap/hs.map.js') }}"></script>
<script src="{{ asset('js/components/hs.go-to.js') }}"></script>

<!-- JS Customization -->
<script src="{{ asset('js/custom.js') }}"></script>

<!-- JS Plugins Init. -->
<script>
    // initialization of google map
    function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
    }

    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        $('#processes [role="tablist"] .nav-link').on('click', function () {
            setTimeout(function () {
                $('#processesTabs .js-carousel').slick('setPosition');
            }, 200);
        });
    });

    $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
            duration: 700
        });
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
</body>
</html>
